body {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

.modal-categories-ice-cream,
.modal-login,
.modal-feedback,
.visually-hidden,
.modal-busket,
.search-form,
.gallery-content-2,
.gallery-content-3 {
  display: none
}

.main-navigation {
  display: flex;
  align-items: space-between;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;

  
}

.site-navigation-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
 
}



.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-navigation {
  max-width: 140px;
  display: flex;
  position: relative;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  vertical-align: middle;
}

.user-navigation .login-link {
  padding-left: 50px;
  position: relative;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 24px;

  width: 16px;
  height: 18px;

  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;

}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.main-header-logo {
  width: 368px;
  height: 153px;
}


.main-header-worktime {
  position: absolute;
  top: 137px;
  right: 147px;
}

.main-header-phonenumber {
  position: absolute;
  top: 147px;
  right: 144px;
}

.button {
  background: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  opacity: 0.99;

  text-align: center;
  vertical-align: middle;
  font: inherit;
  border: none;

  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.button:hover,
.button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button-gallery {
  font-size: 32px;
  line-height: 44px;
}

.filter-button {
  background: rgba(255, 255, 255, 0.0001);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  color: #323232;
}

.filter-button:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  color: #323232;
}

.site-navigation,
.user-navigation,
.modal-categories-ice-cream {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #f7f6f3;
  color: #323232;
}

.site-navigation a:active,
.user-navigation a:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: #f8f7f4;
  color: #323232;
}

.site-navigation-current a {
  background-color: #d07058;
  color: #ffffff;
  text-decoration: none;
}

.full-busket a {
  text-decoration: none;
  color: #323232;
  background-color: #f8f7f4;
  opacity: 0.99;
}

.main-header-worktime {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.main-header-phonenumber {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
}

.gallery-content-1 {
  background-color: #849d8f;
  opacity: 1;
}

.gallery-content-2 {

  background-color: #8996a6;
  opacity: 1;
}

.gallery-content-3 {

  background-color: #9d8b84;
  opacity: 1;
}

.gallery-catalog {
  font-size: 60px;
  line-height: 60px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.specials {
  padding: 50px 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.specials-1 {
  color: #ffffff;
  background: rgba(165, 21, 54, 0.5);
  background-image: url("../img/index/bg-raspberry.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 230px;
  border-radius: 15px;
}

.specials-1.specials-2 h3 {
  font-size: 35px;
  line-height: 41px;
}

.specials-1.specials-2 p {
  font-size: 18px;
  line-height: 22px;
}

.specials-2 {
  color: #ffffff;
  background-color: rgba(50, 28, 20, 0.5);
  background-image: url("../img/index/bg-chocolate.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 230px;
  border-radius: 15px;
}

.catalog-hits {
  width: 1130px;
}

.catalog-hits-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  text-align: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-hits-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  list-style: none;
}

.catalog-hits-name {
  text-transform: none;
  text-decoration: underline;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-hits-item-image img {
  border-radius: 300px;
}

.catalog-hits-item-price {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
}


.features {
  width: 1165px;

  color: #323232;
  background-color: rgba(240, 230, 209, 0.8);
  background-image: url("../img/index/bg-waffle.png");
  background-position: center;
  background-repeat: repeat;
  border-radius: 10px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.feature h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.feature-item {
  width: 488px;

  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.index-columns {
  
  display: flex;
  justify-content: space-around;
 
}

.news {
  list-style: none;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("../img/index/bg-strawberry.jpg");
  background-repeat: no-repeat;
  width: 560px;
  border-radius: 10px;
}

.news h3 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.news a {
  text-transform: none;
  text-decoration: underline;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.news a:hover,
.news a:focus .news a:active {
  color: #e84d37;
}

.subscription {
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("img/index/bg-post.svg");
  background-position: left;
  background-repeat: repeat;
  width: 560px;


  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 10px;
}

.contacts,
.contacts h2 {
  color: #323232;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
}

.creame-icecreame {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.creame-icecreame a {
  color: #ffffff;
}

.creame-icecreame a:hover,
.creame-icecreame a:focus {
  color: #ffbc9e;
}

.creame-icecreame-current {
  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter ul {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-input:hover+label,
.filter-input:focus+label {
  color: #323232;
}

.filter-input:disabled+label {
  color: #323232;
  opacity: 0.5;
}

.catalog {
  width: 1130px;
}

.catalog-list {
  list-style: none;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.catalog-item {
  background-color: #849d8f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 267px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #ffffff;
  text-decoration: underline;
}

.catalog-item h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.catalog-item-image img {
  border-radius: 300px;
}


.catalog-item-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item a {
  color: #ffffff;
  text-decoration: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background: rgba(255, 255, 255, 0.0001);
  opacity: 0.2;
  /* Цвет шрифта задан белый, но он не срабатывает. Не могу понять почему((*/
  color: #ffffff;
}

.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;
  color: #ffffff;
  
}

.main-footer .main-footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer-social {
  width: 187px;
  
}

.footer-social ul {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  
}

.social-button {
    width: 43px;
    height: 43px;

  color: #ffffff;

}
/*
.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}
}*/

.footer-info {
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
margin: auto;
  list-style: none;

  
}

.footer-info ul {
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}

.footer-info .info-provider {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.footer-info a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-info a:hover,
.footer-info a:focus {
  color: #ffbc9e;
}
.footer-copyright .button {
  display: block;
  margin-right: 0;
}


.footer-copyright {
  width: 210px;
  margin-left: auto;
  
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer-copyright-info {
  color: #ffffff;
 
}
.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright-info:hover,
.footer-copyright-info:focus,
.footer-copyright-info:active {
  color: #ffbc9e;
}

.modal {
  color: #999999;
  background-color: #f8f7f4;
}

.modal p {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #999999;
  text-transform: uppercase;

  background-color: #f8f7f4;
  border: 2px solid #999999;
}
