@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


body {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;

}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  background-image: url("../img/index/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/index/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/index/slider-item3.png");
}

.slider {
  position: relative;

  padding-top: 218px;
  padding-bottom: 55px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;

}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
}

.button-slide {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button-slide:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-slide:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  margin-left: 25px;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/index/slider-item1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/index/slider-item2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/index/slider-item3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.main-navigation {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 60px;

}

.site-navigation-container {
  display: flex;
  margin-top: 10px;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 15px;
}


.site-navigation>li {
  position: relative;
  display: inline-block;

}

.site-navigation a {
  display: block;
  padding: 8px 20px;
  color: #ffffff;

  vertical-align: middle;
}



.site-navigation .main a:hover,
.user-navigation .main a:hover,
.site-navigation .main a:focus,
.user-navigation .main a:focus {
  background-color: #f7f6f3;
  color: #323232;

  border-radius: 50px;
}

.site-navigation .main a:active,
.user-navigation .main a:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #f8f7f4;
  color: #323232;
}

.site-navigation-current a {
  background-color: #d07058;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.site-navigation .sub-site-navigation {

  position: absolute;
  top: 40px;
  left: -5px;
  display: none;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  color: #323232;

}

.site-navigation .sub-site-navigation a {
  margin-bottom: -1px;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sub-site-navigation .new {
  border-bottom: 1px solid #d1d0ce;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.site-navigation>li:hover .sub-site-navigation {
  display: block;
}

.site-navigation .open .sub-site-navigation {
  display: block;
}

.site-navigation>.open>a {
  background-color: #f7f6f3;
  color: #323232;
  border-radius: 50px;
}

.sub-site-navigation a:hover,
.sub-site-navigation a:focus {
  background-color: #fbded7;
  color: #323232;
}

.sub-site-navigation a:active {
  background-color: #f6b5a5;
  color: #323232;
}

.user-navigation {
  display: flex;
  align-items: center;


  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.user-navigation a {
  background: #a1b4a9;
  border: 0px solid #FFFFFF;
  border-radius: 50px;
  color: #ffffff;

  padding-left: 40px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.user-navigation li {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  text-decoration: none;
}

.button-search {
  width: 32px;
  height: 32px;

  opacity: 0.5;

  border-radius: 50%;
}

.button-search:hover,
.button-search:focus {
  opacity: 1;
}

.button-search:active {
  background-color: #ededed;
  color: #323232;
}

/*
.user-navigation .modal-search-form {
  position: absolute;
  right: 310px;
  top: 5px;
}*/


.user-navigation .login-link {
  position: relative;

}

.login-link::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;

  width: 21px;
  height: 19px;

  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;

}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  background-color: #323232;

}

.user-navigation .busket-link {
  position: relative;
  padding-left: 50px;
  text-decoration: none;
}

.busket-link::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 22px;

  width: 21px;
  height: 20px;

  background-image: url("../img/index/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
}

.busket-link:hover::before,
.busket-link:focus::before,
.busket-link:active::before {
  background-color: #323232;
}

.user-navigation .full-busket-link {

  padding-left: 40px;
  margin: 0;

  text-decoration: none;
  border-radius: 50px;
}

.full-busket a {
  text-decoration: none;
  color: #323232;
  background-color: #f8f7f4;
  opacity: 0.99;
  padding-right: 10px;
  position: relative;
}

.full-busket-link::before {
  content: "";

  position: absolute;
  top: 8px;
  right: 80px;

  width: 21px;
  height: 20px;

  background-image: url("../img/catalog/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
}

.full-busket-link:hover::before,
.full-busket-link:focus::before,
.full-busket-link:active::before {
  opacity: 1;
}



.main-header-logo {
  width: 154px;
  height: 64px;
  margin: 0;
  padding: 0;

}

.main-header-contacts {
  position: relative;
  top: -55px;
  right: 0;
  text-align: right;
  margin: 0;
  padding: 0;
}

.worktime {
  font-size: 14px;
  line-height: 16px;
}

.phonenumber {
  font-size: 22px;
  line-height: 24px;
}

/*
.main-wrap {
  padding: 0 25px;
}
*/

.button {
  display: inline-block;
  padding: 10px 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.filter-button {
  background: rgba(255, 255, 255, 0.0001);
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  color: #FFFFFF;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  color: #323232;
}

.filter-button:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  color: #323232;
}

.modal-categories-ice-cream {
  list-style: none;
}

.specials {
  display: flex;

  position: relative;

  margin-bottom: 40px;
}

.specials-1 {
  color: #ffffff;
  background: rgba(165, 21, 54, 0.5);
  background-image: url("../img/index/bg-raspberry.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
  width: 50%;

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-right: 25px;
  padding: 15px;
}

.specials-2 {
  color: #ffffff;
  background-color: rgba(50, 28, 20, 0.5);
  background-image: url("../img/index/bg-chocolate.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
  width: 50%;

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 15px;
}

.specials-1 h3,
.specials-2 h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  padding: 0;
  margin: 0;
}

.specials-1 p,
.specials-2 p {

  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;

  margin-bottom: 85px;
}

.button-specials-1 {
  box-sizing: border-box;
  position: absolute;
  left: 390px;
  bottom: 25px;
}

.button-specials-2 {
  box-sizing: border-box;
  position: absolute;
  right: 30px;
  bottom: 25px;
}

.catalog-hits {
  margin-bottom: 40px;
}

.catalog-hits-list {
  display: flex;

  justify-content: space-between;
  padding: 0;
  text-align: center;

  list-style: none;
}

.catalog-hits-list .catalog-hits-item {
  flex-basis: 25%;

  flex-grow: 1;
  position: relative;
  padding: 20px;
  text-align: center;

}

.catalog-hits-item:nth-child(4n) {
  margin-right: 0;
}

/*.catalog-hits-item:hover {
  width: 293px;
height: 405px;
box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
background-color: #f8f7f4;
opacity: 0.2;

}*/

.catalog-hits-item .catalog-hits-name {
  text-transform: none;
  text-decoration: underline;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-hits-item-image img {
  border-radius: 50%;
}

.catalog-hits-item-price {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  position: absolute;
  left: 15px;
  top: 195px;
  white-space: nowrap;
}

.catalog-hits-item-price span {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);

  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  padding: 0;
  margin: 0;
}

.features {
  background-position: top center;

  color: #323232;
  background-color: rgba(240, 230, 209, 0.8);
  background-image: url("../img/index/bg-waffle.png");
  background-position: center;
  background-repeat: repeat;
  border-radius: 25px;
  padding: 25px;

  margin-bottom: 40px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;

}

.features h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;

  margin: 0;
}

.features-list p {
  width: 488px;
  text-align: left;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin: 10px;
}

.features .feature-item1 {
  position: relative;
}

.feature-item1::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -45px;

  width: 49px;
  height: 49px;

  background-image: url("../img/index/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.features .feature-item2 {
  position: relative;
}

.feature-item2::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -45px;

  width: 49px;
  height: 49px;

  background-image: url("../img/index/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.features .feature-item3 {
  position: relative;
}

.feature-item3::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -45px;

  width: 49px;
  height: 49px;

  background-image: url("../img/index/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.features .feature-item4 {
  position: relative;
}

.feature-item4::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -45px;

  width: 49px;
  height: 49px;

  background-image: url("../img/index/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.index-columns {
  display: flex;
  margin-bottom: 40px;

}

.news {
  list-style: none;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("../img/index/bg-strawberry.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50%;
  height: 220px;

  border-radius: 25px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-right: 25px;
}

.news h3 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.news a {
  text-transform: none;
  text-decoration: underline;
  color: #323232;
  font-size: 24px;
  line-height: 30px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.news a:hover,
.news a:focus .news a:active {
  color: #e84d37;
}

.subscription {
  color: #5a5a5a;
  background-color: #f8f7f4;

  width: 50%;
  height: 210px;
  border: 6px solid #f8f7f4;
  border-image-source: url("../img/index/bg-post.svg");
  border-image-slice: 5;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  position: relative;
}

.subscription-info-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 30px;

  margin: 0;
}

.button-subscription {
  box-sizing: border-box;
  position: absolute;
  right: 55px;
  bottom: 25px;

}

.login-icon-user {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.map {
  width: 100%;
  position: relative;
  overflow: hidden;

  margin: 0px;
  padding: 0;

}

.map::before {
  content: "";

  position: absolute;
  top: 140px;
  left: 295px;

  width: 218px;
  height: 142px;

  background-image: url("../img/index/pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;

  z-index: 1;
}

.contacts {
  width: 300px;
  height: 305px;
  border-radius: 25px;

  color: #323232;
  background-color: #fff;

  position: absolute;
  bottom: 65px;
  right: 35px;
}

.contacts h2 {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contacts p {
  padding-left: 25px;
  padding-right: 25px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.button-contacts {
  box-sizing: border-box;
  position: absolute;
  right: 30px;
  bottom: 30px;

  margin: auto;
}

/*СТРАНИЦА КАТАЛОГА*/

.page-title {
  font-size: 35px;
  line-height: 41px;
}

.creame-icecreame {
  width: 220px;
  display: flex;
  justify-content: flex-start;

  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.creame-icecreame a {
  color: #ffffff;
  margin-right: 15px;
}

.creame-icecreame a:hover,
.creame-icecreame a:focus {
  color: #ffbc9e;
}

.creame-icecreame-current {
  color: #ffffff;
}

/*ФИЛЬТР*/

.filters {
  width: 920px;
  margin-bottom: 5px;
  
}

.filters form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.filters select.sort-selection,
.filters .fatness,
.filters .fillers,
.filters .filter-price {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  border-radius: 25px;

}

.filters select.sort-selection:hover,
.filters select.sort-selection:focus,
.filters select.sort-selection:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #323232;
  cursor: pointer;
}

.filters .filter-wrap {
  display: inline-block;
  margin-left: 0;
}

.filters fieldset {
  border: none;
}

.filters legend {
  color: #ffffff;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  margin-right: 0;
  padding-right: 0;
}

.customize-form {
  background: #a1b4a9;
  border: 0px solid #FFFFFF;
  border-radius: 50px;
  color: #ffffff;

}

.sort-selection {
  width: 194px;
  
}

.filter-price {
  position: relative;
  width: 180px;
  background: rgba(234, 255, 45, 0.2);
box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.filter-price::before {
  position: absolute;
  content: "";
  width: 176px;
  height: 4px;
  top: 18px;
  left: 5px;
  background-color: rgba(255, 255, 255, 1);
  
}

.filter-price::after {
  
  position: absolute;
  content: "";
  width: 80px;
  height: 4px;
  top: 18px;
  left: 55px;
  background-color: rgba(255, 255, 255, 1);
}

.filter-price button {
  line-height: 0;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  border: none;
  background-image: url("../img/catalog/filter-button.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  
}

.filter-price button:first-child {
  left: 35px;
}

.filter-price button:last-child {
  left: 135px;
}

.fatness {
  list-style: none;
  padding: 10px 20px 10px 35px;
  display: flex;
  width: 415px;
  justify-content: space-between;

}

.filters .radio {
  position: relative;
  cursor: pointer;
}

.radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -5px;
  left: -35px;

  width: 22px;
  height: 22px;
  opacity: 0.8;

  background-image: url("../img/catalog/radio-off.svg");
  background-repeat: no-repeat;

}
.radio input[type="radio"]:checked + .radio-indicator {
  background-image: url("../img/catalog/radio-on.svg");
 
}

input[type="radio"]:disabled + .radio-indicator,
input[type="radio"]:disabled:hover + .radio-indicator,
input[type="radio"]:disabled:focus + .radio-indicator,
input[type="radio"]:disabled:active + .radio-indicator,
input[type="radio"]:checked:disabled + .radio-indicator {
  opacity: 0.4;
  cursor: default;
}

.fillers {
  list-style: none;
  display: flex;
  justify-content: space-between;

  width: 703px;
  padding: 15px 20px 15px 35px;
}

.filters .checkbox {
  position: relative;
  cursor: pointer;
}
.checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
left:-35px;
top:-5px;

  width: 20px;
  height: 20px;
  opacity: 0.8;

  background-image: url("../img/catalog/checkbox-off.svg");
  background-repeat: no-repeat;
 
}

.checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  opacity: 1;
}

.checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/catalog/checkbox-on.svg");
  width: 24px;
}

input[type="checkbox"]:disabled + .checkbox-indicator,
input[type="checkbox"]:disabled:hover + .checkbox-indicator,
input[type="checkbox"]:disabled:focus + .checkbox-indicator,
input[type="checkbox"]:disabled:active + .checkbox-indicator,
input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  opacity: 0.4;
  cursor: none;
}


/*КАТАЛОГ*/

.catalog {
  margin-bottom: 60px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;


  padding: 0;
  text-align: center;

  list-style: none;
}

.catalog-item {

  flex-basis: 25%;
  flex-grow: 1;

  position: relative;

}

/*.catalog-item:hover {
  width: 293px;
height: 405px;
box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
background-color: #f8f7f4;
opacity: 0.2;

}*/

.catalog-item .catalog-item-name {
  display: block;
  text-transform: none;
  text-decoration: underline;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}


.catalog-item-image img {
  border-radius: 50%;

}


.catalog-item-price {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  position: absolute;
  left: 15px;
  top: 180px;
}

.catalog-item-price span {
  text-align: center;

}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  text-decoration: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.0001);
  opacity: 0.2;
  /* Цвет шрифта задан белый, но он не срабатывает. Не могу понять почему((*/
  color: #ffffff;
}

.paginator-item-current a {
  color: #323232;
  background-color: #ffffff;
}

.pagination-list .prev {
  margin-right: 20px;
  background-image: url("../img/catalog/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination-list .disabled {
  opacity: 0.3;
}

.pagination-list .next {
  margin-left: 20px;
  background-image: url("../img/catalog/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 -40px;
}



.main-footer {
  color: #ffffff;

}

.main-footer .container {
  display: flex;
}

.footer-social {
  margin-right: auto;
}

.footer-social ul {
  display: flex;

  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;

  width: 43px;
  height: 43px;
  opacity: 0.5;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  width: 340px;

  position: relative;

  margin: 0;
  padding: 20px;
}


.info-provider:hover {
  color: #ffbc9e;
}

.info-provider:active {
  color: #ffbc9e;
}

.footer-info a:first-child {
  font-weight: bold;
  text-decoration: none;
}

.footer-info a:first-child::before {
  content: "";

  position: absolute;
  top: 25px;
  left: 0px;
  width: 16px;
  height: 16px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;

  z-index: 1;
}

.footer-info a {
  flex-basis: 50%;
  margin: 0;
  padding: 0;

  text-decoration: none;

  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}

.footer-copyright {
  width: 210px;
  margin-left: auto;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer-copyright-info {
  color: #ffffff;
}

.footer-copyright b {
  display: block;

}

.footer-copyright-info:hover,
.footer-copyright-info:focus,
.footer-copyright-info:active {
  color: #ffbc9e;
}



/* Всплывающая форма */


.modal {
  position: fixed;

  color: #323232;

  font-size: 13px;
  font-weight: 400;
  line-height: 24px;



  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;

  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 10px;

}

.modal-search-form {

  position: absolute;
  top: 65px;
  right: 475px;

  width: 341px;

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;

  padding: 20px 15px;

  border: 1px solid #d3d3d2;

}

.search-form input[type="text"] {

  box-sizing: border-box;
  width: 340px;

  padding: 10px 15px;


  color: #999999;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  background-color: #ffffff;
  border-radius: 5px;
}

.modal-login {


  position: absolute;
  top: 65px;
  right: 380px;
  width: 277px;
}

.login-form {
  padding: 18px 18px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 241px;
  height: 44px;
  padding: 10px 15px;

  color: #999999;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  background-color: #ffffff;
  border-radius: 5px;
}

.login-form .login-help {

  display: flex;
  flex-wrap: wrap;


  width: 130px;

  margin-left: 110px;
  padding: 5px;

  position: relative;
}

.login-help a {

  color: #323232;
  text-decoration: underline;

  margin: 0;
  padding: 0;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.login-form .button {
  width: 35%;
  position: absolute;
  bottom: 40px;
  left: 20px;
}

.modal-feedback {
  display: none;
  position: fixed;
  top: 40%;
  right: 35%;
  width: 478px;
  height: 443px;
  background-color: #f8f7f4;

  border: 1px solid #d3d3d2;

  z-index: 5;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 18px;
  height: 17px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 22px;
  height: 3px;

  background-color: black;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback-form {
  padding: 18px 18px;

}

.feedback-form h2 {
  margin: 0;
  margin-bottom: 20px;

  color: #323232;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.feedback-form input[type="text"],
.feedback-form input[type="text"],
.feedback-form input[type="text"] {
  box-sizing: border-box;
  width: 267px;
  padding: 10px 15px;



  color: #323232 !important;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  border-radius: 5px;

}

.feedback-form textarea[type="text"] {
  box-sizing: border-box;
  width: 435px;

  padding: 10px 15px;

  color: #999999;

  color: #323232 !important;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  border-radius: 5px;
}

.feedback-form input::-webkit-input-placeholder {
  color: #999999;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.feedback-form textarea::-webkit-input-placeholder {
  color: #999999;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}


.feedback-form .button {
  width: 35%;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 1;

  background-color: rgba(0, 0, 0, 0.5);
}


.modal-busket {
  display: none;
  position: absolute;
  top: 65px;
  right: 255px;

  width: 539px;

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;

  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 19px;
  padding-left: 17px;

  border: 1px solid #d3d3d2;

}

.full-busket:hover .modal-busket {
  display: block;
}

.modal-busket .button-delete-item::before,
.modal-busket .button-delete-item::after {
  width: 14px;
  height: 1px;
  background-color: #515050;
}

.button-delete-item {
  width: 11px;
  height: 11px;
}

.item-1 .button-delete-item {
  top: 26px;
  left: 17px;
}

.item-2 .button-delete-item {
  top: 80px;
  left: 17px;
}

.busket-content {
  margin-bottom: 15px;
}

.busket-content tr {
  display: block;

}

.busket-content td {
  display: inline-block;
  vertical-align: top;
}

.item-img {
  margin-right: 7px;
  padding-left: 18px;
}

.item-1 .item-img {
  margin-top: -8px;
}

.item-2 .item-img {
  margin-top: -9px;
}

.item-img img {
  border-radius: 50%;
}

.item-name {
  margin-right: 20px;
  width: 230px;

}

.item-price {
  margin-left: -3px;
  margin-right: 25px;
  color: #999999;
}

.item-1 {
  margin-bottom: 21px;
  padding-top: 6px;
  color: #323232;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.item-2 {
  margin-bottom: 29px;
  padding-top: 2px;
  color: #323232;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.total {
  margin-right: -35px;
  margin-bottom: 50px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;
  text-align: right;
}

.total:before {
  content: "";
  position: absolute;
  bottom: 115px;
  left: 16px;
  width: 510px;
  height: 1px;
  background-color: #cacac7;

}

.button-delete-item {
  position: absolute;
  top: 13px;
  right: 15px;
  width: 19px;
  height: 19px;
  outline: none;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.button-delete-item::before,
.button-delete-item::after {
  content: "";

  position: absolute;
  top: 9px;
  left: -1px;

  width: 22px;
  height: 2px;

  background-color: black;
}

.button-delete-item::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button-delete-item::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.busket-button {

  position: absolute;
  right: 15px;
  bottom: 25px;
}
