body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

.modal-categories-ice-cream,
.smodal-search,
.modal-login,
.modal-feedback,
.visually-hidden,
.modal-busket {
  display: none
}

.button {
  background: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  opacity: 0.99;

  text-align: center;
  vertical-align: middle;
  font: inherit;
  border: none;

  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.button:hover,
.button:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active {
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button-gallery {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;

  text-align: center;
  vertical-align: middle;
  font: inherit;
  border: none;

  color: #ffffff;
  font-size: 32px;
  line-height: 44px;
}

.button-gallery:hover,
.button-gallery:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button-gallery:active {
  box-shadow: 0 2px 2px #ac1000;
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}


.filter-button {
  text-align: center;
  vertical-align: middle;
  font: inherit;
  background: rgba(255, 255, 255, 0.0001);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  color: #FFFFFF;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-button:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  color: #323232;

}

.site-navigation,
.user-navigation,
.modal-categories-ice-cream {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #f7f6f3;
  color: #323232;
}

.site-navigation a:active,
.user-navigation a:active,
.site-navigation a:active,
.user-navigation a:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: #f8f7f4;
  color: #323232;
}

.site-navigation-current a {
  background-color: #d07058;
  color: #ffffff;
  text-decoration: none;
}

.full-busket a {
  text-decoration: none;
  color: #323232;
  background-color: #f8f7f4;
  opacity: 0.99;
}

.main-header-worktime {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.main-header-phonenumber {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
}

.gallery-content-1 {
  background-color: #849d8f;
  opacity: 1;
}

.gallery-content-2 {

  background-color: #8996a6;
  opacity: 1;
}

.gallery-content-3 {

  background-color: #9d8b84;
  opacity: 1;
}

.gallery-catalog {
  font-size: 60px;
  line-height: 60px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.specials-1 {
  color: #ffffff;
  background: rgba(165, 21, 54, 0.5);
  background-image: url("../img/index/bg-raspberry.jpg");
  background-repeat: no-repeat;
  width: 530px;
  height: 230px;
}

.specials-1.specials-2 h3 {
  font-size: 35px;
  line-height: 41px;
}

.specials-1.specials-2 p {
  font-size: 18px;
  line-height: 22px;
}

.specials-2 {
  color: #ffffff;
  background-color: rgba(50, 28, 20, 0.5);
  background-image: url("../img/index/bg-chocolate.jpg");
  background-repeat: no-repeat;
  width: 530px;
  height: 230px;
}

.catalog-hits-item {
  list-style: none;
}

.catalog-hits-name {
  text-transform: none;
  text-decoration: underline;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-hits-item-image img {
  width: 267px;
  height: 267px;
  border-radius: 300px;
}

.catalog-hits-item-price {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
}


.features {
  color: #323232;
  background-color: rgba(240, 230, 209, 0.8);
  background-image: url("../img/index/bg-waffle.png");
  background-position: left;
  background-repeat: repeat;
}

.features-list {
  list-style: none;
}

.feature h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.feature-item {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.news {
  list-style: none;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("../img/index/bg-strawberry.jpg");
  background-position: left;
  background-repeat: no-repeat;
  width: 530px;
  height: 210px;
}

.news h3 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.news a {
  text-transform: none;
  text-decoration: underline;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.news a:hover,
.news a:focus .news a:active {
  color: #e84d37;
}

.subscription {
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("img/index/bg-post.svg");
  background-position: left;
  background-repeat: repeat;
  width: 530px;
  height: 210px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.contacts,
.contacts h2 {
  color: #323232;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
}

.creame-icecreame {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.creame-icecreame a {
  color: #ffffff;
}

.creame-icecreame a:hover,
.creame-icecreame a:focus {
  color: #ffbc9e;
}

.creame-icecreame-current {
  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter ul {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-input:hover+label,
.filter-input:focus+label {
  color: #323232;
}

.filter-input:disabled+label {
  color: #323232;
  opacity: 0.5;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #849d8f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #ffffff;
  text-decoration: underline;
}

.catalog-item h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-item-image img {
  width: 267px;
  height: 267px;
  border-radius: 300px;
}


.catalog-item-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #ffffff;
  text-decoration: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background: rgba(255, 255, 255, 0.0001);
  opacity: 0.2;
  /* Цвет шрифта задан белый, но он не срабатывает. Не могу понять почему((*/
  color: #ffffff;
}

.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
}

.main-footer {
  color: #ffffff;
  background-color: #849d8f;
}

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-info ul {
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer-info .info-provider {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.footer-info a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-info a:hover,
.footer-info a:focus {
  color: #ffbc9e;
}

.footer-copyright {
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer-copyright-info {
  color: #ffffff;
}

.footer-copyright-info:hover,
.footer-copyright-info:focus,
.footer-copyright-info:active {
  color: #ffbc9e;
}

.modal {
  color: #999999;
  background-color: #f8f7f4;
}

.modal p {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #999999;
  text-transform: uppercase;

  background-color: #f8f7f4;
  border: 2px solid #999999;
}
