body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  /*text-transform*/

  background-color: #849d8f;
}

.modal-categories-ice-cream,
.smodal-search,
.modal-login,
.modal-feedback {
  display: none
}

a {
  text-decoration: none;
}

.button {
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  opacity: 0.99;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font: inherit;
  border: none;

  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #f8f7f4;
}

.main-navigation {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;

  background-color: #849d8f;
}

.site-navigation,
.user-navigation,
.modal-categories-ice-cream {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #ededed;
  background-color: #f7f6f3;
  color: #323232;
}

.main-header-worktime{
  color: #ffffff;
  font-size: 10px;
  line-height: 12px;
}

.main-header-phonenumber{
  color: #ffffff;
  font-size: 13px;
  line-height: 15px;
}

.gallery-content-1 {
  background-color: #849d8f;
  opacity: 1;
}

.gallery-content-2 {
  
  background-color: #8996a6;
  opacity: 1;
}

.gallery-content-3 {
  
  background-color: #9d8b84;
  opacity: 1;
}

.catalog-category{
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}
/*
slides-switches
slide-radio
slide-btn
*/

.specials-1 {
  color: #ffffff;
  background-color: #ae173b;
  background-image: url("img/index/bg-raspberry.jpg");
  background-position: 10px 50px;;
  background-repeat: no-repeat;
}

.specials-1.specials-2 h3 {
  font-size: 20px;
  line-height: 31px;
}

.specials-1.specials-2 p {
  font-size: 15px;
  line-height: 22px;
}

.specials-2 {
  color: #ffffff;
  background-image: url("img/index/bg-chocolate.jpg");

  background-color: #4c2813;
  background-position: 10px 50px;;
  background-repeat: no-repeat;
}

/*catalog-hits
catalog-hits-list
catalog-hits-item-image
*/

.catalog-hits-item{
  list-style: none;
}

.catalog-hits-name{
text-transform: none;
  text-decoration: underline;
  color: #ffffff;
  font-size: 15px;
  line-height: 15px;
}

.catalog-hits-item-price{
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
}


.features {
  color: #323232;
  background-color: #f0e6d1;
  background-image: url("img/index/bg-waffle.png");
  background-position: left;
  background-repeat: no-repeat;
}
.features-list{
  list-style: none;
}

.feature h3 {
  font-size: 15px;
  line-height: 20px;
}

.feature-item {
  text-align: left;
  font-size: 10;
  line-height: 15px;
}

.news {
  list-style: none;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("img/index/bg-strawberry.jpg");
  background-position: left;
  background-repeat: no-repeat;
}

.news h3{
  color: #323232;
  font-size: 13px;
  line-height: 18px;
}

.news a {
  text-transform: none;
  text-decoration: underline;
  color: #323232;
  font-size: 15px;
  line-height: 20px;
}

.subscription {
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("img/index/bg-post.svg");
  background-position: left;
  background-repeat: no-repeat;

  font-size: 13px;
  line-height: 18px;
}

.contacts{
  color: #323232;
  background-color: #fff;

}
/*
modal-feedback
feedback-form
user-first-name
user-name
user-email
user-feedback
feedback-text*/

.page-title {
  font-size: 20px;
  line-height: 32px;
}

.creame-icecreame{
  list-style: none;
}

.creame-icecreame a {
  color: #ffffff;
}

.creame-icecreame a:hover,
.creame-icecreame a:focus {
  text-decoration: underline;
}

.creame-icecreame-current {
  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 15px;
  line-height: 23px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #323232;
}

.filter-input:disabled + label {
  color: #323232;
  opacity: 0.5;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #849d8f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #ffffff;
  text-decoration: underline;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.pagination-list {
  list-style: none;
}
.pagination-item a {
  color: #ffffff;

  background-color: #849d8f;
}
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}
.pagination-item-current a {
  color: #849d8f;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #849d8f;

  background-color: #ffffff;
}

.main-footer {
  color: #ffffff;
  background-color: #849d8f;
}

.footer-social {
  text-align: left;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-info ul{
  list-style: none;
}

.footer-info a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-info a:hover,
.footer-info a:focus {
  text-decoration: none;
}

.footer-copyright {
  text-align: right;
}

.main-footer-info{
    color: #ffffff;
}

.main-footer-info a:hover,
.main-footer-info a:hover,
.main-footer-info a:focus,
.main-footer-info a:focus {
  background-color: #ededed;
  background-color: #f7f6f3;
  color: #323232;
}

.modal {
  color: #999999;

  background-color: #f8f7f4;
}

.modal p {
  font-size: 15px;
  line-height: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #999999;
  text-transform: uppercase;

  background-color: #f8f7f4;
  border: 2px solid #999999;
}
