body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;

}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  background-image: url("../img/index/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/index/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/index/slider-item3.png");
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 47px;

  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;

}

.button-slide {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button-slide:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-slide:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  margin-left: 25px;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/index/slider-item1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/index/slider-item2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/index/slider-item3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.modal-categories-ice-cream,
.modal-login,
.modal-feedback,
.modal-busket,
.search-form {
  display: none;
}

.main-navigation {
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-navigation .site-navigation-container {
  display: flex;
  align-content: flex-start;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: flex;
}

.user-navigation {
  display: flex;
  align-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.site-navigation li,
.user-navigation li {
  margin-top: 10px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  color: #ffffff;
  padding: 15px;

  align-items: center;

}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  background-color: #f7f6f3;
  color: #323232;
  border-radius: 50px;
}

.site-navigation a:active,
.user-navigation a:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  background-color: #f8f7f4;
  color: #323232;
}

.site-navigation-current a {
  background-color: #d07058;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;

  text-decoration: none;
  align-items: center;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 25px;

  width: 21px;
  height: 19px;

  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;

}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.user-navigation .busket-link {
  position: relative;
  padding-left: 50px;
  text-decoration: none;
}

.busket-link::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 22px;

  width: 21px;
  height: 20px;

  background-image: url("../img/index/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
}

.busket-link:hover::before,
.busket-link:focus::before,
.busket-link:active::before {
  opacity: 1;
}
.user-navigation .full-busket-link {
  position: relative;
  padding-left: 50px;
  margin:0;
  
  text-decoration: none;
  border-radius: 50px;
}
.full-busket a {
  text-decoration: none;
  color: #323232;
  background-color: #f8f7f4;
  opacity: 0.99;
  padding-right:15px;
  
}
.full-busket-link::before {
  content: "";

  position: absolute;
  top: 12px;
  right: 80px;

  width: 21px;
  height: 20px;

  background-image: url("../img/catalog/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
}

.full-busket-link:hover::before,
.full-busket-link:focus::before,
.full-busket-link:active::before {
  opacity: 1;
}

.button-search {
  width: 33px;
  height: 33px;
  background-color: #849d8f;
  opacity: 0.2;
  border-radius: 50%;

}

.button-search:hover,
.button-search:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.button-search:active {
  background-color: #ededed;
  color: #323232;
}


.main-header-logo {
  width: 154px;
  height: 64px;
  margin: 0;
  padding: 0;

}

.main-header-contacts {
  position: relative;
  top: 0;
  right: 0;
  text-align: right;
  margin: 0;
  padding: 0;
}

.worktime {
  font-size: 14px;
  line-height: 16px;
}

.phonenumber {
  font-size: 22px;
  line-height: 24px;
}

.button {
  display: inline-block;
  padding: 10px 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.filter-button {
  background: rgba(255, 255, 255, 0.0001);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  color: #323232;
}

.filter-button:active {
  box-shadow: inset 0 2px 1px #696969;
  background-color: #ededed;
  color: #323232;
}

.modal-categories-ice-cream {
  list-style: none;
}

.specials {
  
  display: flex;
  justify-content: space-around;
  
}

.specials-1 h3,
.specials-2 h3 {
  font-size: 35px;
  line-height: 41px;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
}

.specials-1 p,
.specials-2 p {
  font-size: 18px;
  line-height: 22px;

  padding-left: 20px;
  padding-right: 25px;
  margin: 0;
}

.specials-1 {
  color: #ffffff;
  background: rgba(165, 21, 54, 0.5);
  background-image: url("../img/index/bg-raspberry.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 230px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.specials-2 {
  color: #ffffff;
  background-color: rgba(50, 28, 20, 0.5);
  background-image: url("../img/index/bg-chocolate.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 230px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-hits{
  display: flex;
  justify-content: space-around;

 
}

.catalog-hits-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  
  list-style: none;

  text-align: center;

}

.catalog-hits-item {
  width: 267px;

  margin-bottom: 20px;
  margin-right: 20px;
  
  background-color: #849d8f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-hits-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-hits-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-hits-item .catalog-hits-name {
  text-transform: none;
  text-decoration: underline;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-hits-item-image img {
  border-radius: 50%;
}

.catalog-hits-item-price {
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  color: #ffffff;
  font-size: 45px;
  line-height: 45px;
}

.catalog-hits-item-price b {
  position: relative;
  left: -40px;
  top: -100px;
  text-align: center;
}


.features {
  background-position: top center;
  margin:25px;
  
  color: #323232;
  background-color: rgba(240, 230, 209, 0.8);
  background-image: url("../img/index/bg-waffle.png");
  background-position: center;
  background-repeat: repeat;
  border-radius: 10px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.features h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.feature-item p {
  width: 488px;
  padding-left: 5px;
  text-align: left;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  padding-bottom:5px;
  padding-top:15px;
}

.index-columns {
  
  display: flex;
  justify-content: space-around;
}

.news {
  list-style: none;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("../img/index/bg-strawberry.jpg");
  background-repeat: no-repeat;
  width: 560px;
  border-radius: 10px;
}

.news h3 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.news a {
  text-transform: none;
  text-decoration: underline;
  color: #323232;
  font-size: 24px;
  line-height: 30px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.news a:hover,
.news a:focus .news a:active {
  color: #e84d37;
}

.subscription {
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("img/index/bg-post.svg");
  background-position: left;
  background-repeat: repeat;
  width: 560px;


  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 10px;
}

.subscription-info-text{

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 0px;

  margin: 0;
}
.login-icon-user{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.contacts,
.contacts h2 {
  color: #323232;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  margin:25px;
}

.creame-icecreame {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.creame-icecreame a {
  color: #ffffff;
}

.creame-icecreame a:hover,
.creame-icecreame a:focus {
  color: #ffbc9e;
}

.creame-icecreame-current {
  color: #ffffff;
}


.filter {
  width: 855px;
  margin:25px;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;

  
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filter ul {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-input:hover+label,
.filter-input:focus+label {
  color: #323232;
}

.filter-input:disabled+label {
  color: #323232;
  opacity: 0.5;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
 
  list-style: none;

  text-align: center;

}

.catalog-item {
  width: 267px;

  margin-bottom: 20px;
  margin-right: 20px;

  background-color: #849d8f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #ffffff;
  text-decoration: underline;
}

.catalog-item h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.catalog-item-image img {
  border-radius: 300px;
}


.catalog-item-price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.catalog-item-price b {
  position: relative;
  left: -5px;
  top: -100px;
  text-align: center;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  text-decoration: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.0001);
  opacity: 0.2;
  /* Цвет шрифта задан белый, но он не срабатывает. Не могу понять почему((*/
  color: #ffffff;
}

.paginator-item-current a {
  color: #323232;
  background-color: #ffffff;
}

.pagination-list .prev {
  margin-right: 20px;
  background-image: url("../img/catalog/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination-list .disabled {
  opacity: 0.3;
}

.pagination-list .next {
  margin-left: 20px;
  background-image: url("../img/catalog/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 -40px;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;
  color: #ffffff;
  
}

.main-footer .container {
  display: flex;
}

.footer-social {
  width: 180px;
  
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 176px;
  
  
  list-style: none;
}

.social-button {
  width: 43px;
  height: 43px;

  color: #ffffff;
}

.footer-info {
  width: 340px;
  margin-left: auto;
  list-style: none;
}

.footer-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

}

.footer-info .info-provider {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.footer-info a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-info a:hover,
.footer-info a:focus {
  color: #ffbc9e;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}


.footer-copyright {
  width: 210px;
  margin-left: auto;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer-copyright-info {
  color: #ffffff;
}

.footer-copyright b {
  display: block;

}

.footer-copyright-info:hover,
.footer-copyright-info:focus,
.footer-copyright-info:active {
  color: #ffbc9e;
}

.modal {
  color: #999999;
  background-color: #f8f7f4;
}

.modal p {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #999999;
  text-transform: uppercase;

  background-color: #f8f7f4;
  border: 2px solid #999999;
}

.contacts{
  width:350px; 
}